.post {
	max-width: 500px;
	background-color: white;
	border: 1px solid lightgray;
	margin-bottom: 45px;
	margin-right: auto;
	margin-left: auto;
}
.post_image {
	width: 100%;
	object-fit: contain;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.post_header {
	display: flex;
	align-items: center;
	padding: 20px;
}
.post_avatar {
	margin-right: 10px;
}
.post_text {
	font-weight: normal;
	padding: 20px;
}

.post_commentbox {
	display: flex;
	margin-top: 10px;
}

.post_comments {
	padding: 20px;
}

.post_comment_input {
	flex: 1;
	border: none;
	padding: 10px;
	column-rule-style: none;
	border: 1px solid lightgray;
}

.post_comment_button {
	flex: 0;
	border: none;
	border: 1px solid lightgray;
	color: #9aafaa;
}
