* {
	margin: 0;
}
.app {
	background-color: #fafafa;
}

.app_header {
	background-color: white;
	padding: 20px;
	border: 1px solid lightgray;
	object-fit: contain;
	position: sticky;
	top: 0;
	display: flex;
	z-index: 1;
	justify-content: space-between;
}
.app_header_image {
	object-fit: contain;
}

.app_signup {
	display: flex;
	flex-direction: column;
}

.app_posts {
	padding: 20px;
	margin: auto;
}
